@import "../fonts/brass-mono/stylesheet.css";
@import "../fonts/share-tech-cyr/stylesheet.css";

$font-serif: "Merriweather", Georgia, serif;
$font-condensed: "Oswald", "Helvetica Neue Condensed", sans-serif;
$font-mono: "Brass Mono", Andale Mono, monospace;